<form action="/user/signIn" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required value="dangerousss430@gmail.com">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required value="123">
    <input type="submit">
</form>

